#VehiclePages {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* O ajusta la altura según tus necesidades */
}

.centered-image img {
  max-width: 100%;
  max-height: 100%;
}
